* {
    font-family:  sans-serif;
}

a {
    text-decoration: none;
}

.nav-link{
    font-size: x-large;
    color: #EDF5E1;
    text-decoration: none;
}

.btn {
    background-color:#379683;
    border: #EDF5E1;
    border-width: thin;
}

h1, p {
        color: #05386B;
        margin-bottom: 0px;
}

p {
    font-size: medium;
}

.dropdown-item {
    font-size: large;
}


#navigation-bar {
    padding-bottom: 90px;
    background-color: #5CDB95;
}

.fixed-top {
    background-color: #5CDB95;
}

.top-section {
    background-color: #5cdb95;
}

.page-heading-1 {
    background-color:  #379683;
    padding-top: 30px;
}

.page-heading-2 {
    background-color:  #5CDB95;
    padding-top: 30px;
    padding-bottom: 30px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.fundraiser-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.fundraiser-bundle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
}

.modal-header {
    background-color: #5CDB95;
}

#credential-section{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.scripture-section {
    background-color: #5CDB95;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
}

#scripture-header {
    font-size: x-large;
    color: #EDF5E1;
}

/*Extra color code for text is #EDF5E1*/
/* Extra color code #8EE4AF*/