* {
    font-family:  sans-serif;
}

a {
    text-decoration: none;
}

.nav-link{
    font-size: x-large;
    color: #EDF5E1;
    text-decoration: none;
}

.nav-link:hover {
    color: #EDF5E1;
    font-size: 160%;
}

#nav-dropdown1:hover .dropdown-menu,
    #nav-dropdown2:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.btn {
    background-color: #379683;
    border: 2px solid #EDF5E1;
}

.btn:hover {
    background-color: #379683;
    border: 5px solid #EDF5E1;
    color: #EDF5E1;
}

#logo {
    border: 2px solid #EDF5E1;
}

h1, p {
        color: #EDF5E1;
        margin-bottom: 0px;
}

p {
    font-size: medium;
}

.dropdown-item {
    font-size: large;
}


#navigation-bar {
    padding-bottom: 70px;
    background-color: #5CDB95;
}

.fixed-top {
    background-color: #5CDB95;
}

.page-style-block1 {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-style-block1 h1 {
    color: #5CDB95;
    padding-bottom: 20px;
}

.page-style-block1 h4 {
    color: #EDF5E1;
}

.page-style-block2 {
    background-color:  #5CDB95;
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-style-block2 h1 {
    padding-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.fundraiser-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.fundraiser-bundle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-nav-container{
    background-color: #5CDB95;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
}

.modal-header {
    background-color: #5CDB95;
}

#credential-section{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.scripture-section {
    background-color: #5CDB95;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
}

#scripture-header {
    font-size: x-large;
    color: #EDF5E1;
}

/*Extra color code for text is #EDF5E1*/
/* Extra color code #8EE4AF*/