* {
    font-family:  sans-serif;
}

.nav-link{
    font-size: large;
    color: #EDF5E1;
    text-decoration: none;
}

h1, p {
        color: #05386B;
        margin-bottom: 0px;
}

p {
    font-size: medium;
}

.dropdown-item {
    font-size: large;
}


#navigation-bar {
    background-color: #379683;
}

.top-section {
    background-color: #379683;
}

.page-heading-1 {
    background-color:  #8EE4AF;
    padding-top: 30px;
}

.page-heading-2 {
    background-color:  #5CDB95;
    padding-top: 30px;
    padding-bottom: 30px;
}

.image-container {
    display: flex;
    justify-content: space-around;
}

.fundraiser-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/*Extra color code for text is #EDF5E1*/