body {
    background-color: #5CDB95;
}

#navigation-bar {
    padding-bottom: 80px;
}

.fixed-top {
    background-color: #5CDB95;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-group {
    display: flex;
}