html, body {
    height: 100%;
    width: 100%;
    background-color: #5CDB95;
}

#navigation-bar {
    padding-bottom: 80px;
}

.fixed-top {
    background-color: #5CDB95;
}

.container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    padding-bottom: 7px;
}

.btn {
    background-color: #379683;
    border: 2px solid #EDF5E1;
}

.btn:hover {
    background-color: #379683;
    border: 5px solid #EDF5E1;
}

.btn:focus {
    background-color: black;
    border: 2px solid #EDF5E1;
    box-shadow: none;
}

#first-question-set {
    display: flex;
    align-items: center;
    size: 100;
}